<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_09_Pandas Exporting Data.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

## ðŸŸ© Export to CSV (2.9.1)

In [3]:
df.to_csv('data_jobs_export.csv', index=False)

---

## ðŸŸ¨ Filter and Export to CSV (2.9.2)

In [5]:
df_data_scientist = df[df['job_title_short'] == 'Data Scientist']
df_data_scientist.to_csv('data_scientist_export.csv', index=False)

---

## ðŸŸ¥ Export to Excel (2.9.3)

In [2]:
# Run the following in your terminal to install the library to export to Excel
# conda install openpyxl

In [8]:
df_ny = df[df['job_location'] == 'New York, NY']
df_ny.to_excel('data_jobs_ny.xlsx', index=False)
df_ny.head()

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
13,Senior Data Engineer,Senior Data Engineer,"New York, NY",via LinkedIn,Full-time,False,"Texas, United States",2023-11-15 13:08:52,True,True,United States,None,NaN,NaN,Nayya,"['python', 'sql', 'go', 'ruby', 'ruby', 'javas...","{'cloud': ['aws'], 'other': ['terraform'], 'pr..."
126,Data Engineer,Data Engineer,"New York, NY",via LinkedIn,Full-time,False,"New York, United States",2023-05-08 13:08:15,False,True,United States,None,NaN,NaN,Career Search Partners,"['sql', 'python', 'sql server', 'excel', 'flow...","{'analyst_tools': ['excel'], 'databases': ['sq..."
177,Senior Data Engineer,Cyber Senior Data Engineer,"New York, NY",via LinkedIn,Full-time,False,"Illinois, United States",2023-12-22 13:06:34,False,False,United States,None,NaN,NaN,New York City Office of Technology & Innovation,"['java', 'python', 'r', 'gcp', 'aws', 'azure',...","{'cloud': ['gcp', 'aws', 'azure'], 'libraries'..."
230,Data Analyst,Financial Systems â€“ Business Analyst/ Data Ana...,"New York, NY",via Redstream Technology,Full-time,False,"New York, United States",2023-06-25 13:00:01,False,False,United States,None,NaN,NaN,RedStream Technology,"['sql', 'excel', 'visio', 'powerpoint', 'word']","{'analyst_tools': ['excel', 'visio', 'powerpoi..."
502,Data Analyst,Reporting Data Analyst,"New York, NY",via ZipRecruiter,Full-time,False,"New York, United States",2023-10-18 13:00:14,True,False,United States,None,NaN,NaN,Arsenault,"['sql', 'excel', 'microstrategy']","{'analyst_tools': ['excel', 'microstrategy'], ..."

---